.jumbotron {
    margin: 0px;
    margin-top: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 70px;
    background-image: url(../img/asheville.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 6px;
    color: white;
    font-size:120%;
}

.jumbotron-sm {
    margin: 0px;
    margin-top: 40px;
    padding-top: 1px;
    padding-bottom: 7px;
    padding-left: 40px;
    background-image: url(../img/asheville.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 6px;
    color: white;
    font-size:120%;
}

/* don't really need padding */
.col-sm-12, .col-sm-8, .col-sm-4 {
    padding-right: 0px;
    padding-left: 0px;
}

.page-header {
    margin-left: 0px;
    padding-left: 0px;
}