<meta charset="utf-8">
<title>{{ page.title }}</title>
{% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
<meta name="author" content="{{ site.author.name }}">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="{{ HOME_PATH }}{{ ASSET_PATH }}/bootstrap/css/bootstrap.lumenpkk.css" rel="stylesheet" type="text/css">
<link href="{{ HOME_PATH }}{{ ASSET_PATH }}/css/style.css" rel="stylesheet" type="text/css" media="all">
<link href="{{ HOME_PATH }}{{ ASSET_PATH }}/css/pkimes.css" rel="stylesheet" type="text/css" media="all">
<link href="{{ HOME_PATH }}{{ ASSET_PATH }}/css/typogrify.css" rel="stylesheet" type="text/css" media="all">
<link href="{{ HOME_PATH }}{{ ASSET_PATH }}/pygments/native.css" rel="stylesheet" type="text/css">
<link href="{{ HOME_PATH }}{{ ASSET_PATH }}/font-awesome-4.5.0/css/font-awesome.min.css" rel="stylesheet">

<!-- include mathjax -->
<script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
