{% include JB/setup %}

<!DOCTYPE html>
<html lang="en">
    <head>
        {% include component/head.html %}
    </head>

    <body>
        {% include component/header.html %}
        <div class="container-narrow" style="padding-top:40px">
            {{ content }}
            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <hr>
                    {% include component/footer.html %}
                </div>
            </div>
        </div>
        
        {% include component/analytics.html %}
        {% include component/foot.html %}
    </body>
</html>








