{% include JB/setup %}

<!DOCTYPE html>
<html lang="en">
    <head>
        {% include freedom/head.html %}
    </head>

    <body>
        {% include freedom/header.html %}
        <div class="container-narrow" style="padding-top:40px">
            {{ content }}
            <div class="row">
                <div class="col-sm-12">
                    <hr>
                    {% include freedom/footer.html %}
                </div>
            </div>
        </div>
        
        {% include freedom/analytics.html %}
        {% include freedom/foot.html %}
    </body>
</html>








