{% include JB/setup %}

<!DOCTYPE html>
<html lang="en">
    <head>
        {% include components/head.html %}
    </head>

    <body>
        {% include components/header.html %}
        <div class="container" style="padding-top:40px">
            <div class="row">
                <!--  LEFT SIDEBAR  -->
                <div class="col-md-offset-1 col-md-3" id="sidebar" style="padding-top:20px;">
                    <!-- include avatar image -->
                    <section class="well well-sm center-block" style="width:100%">
                        <img width="100%" height=100% class="img-rounded" src="/assets/img/patrick.jpg"/>
                    </section>
                    <!-- include links to other sites -->
                    <ul class="list-unstyled">
                        <li><a href="mailto:">
                            <i class="fa fa-envelope fa-fw fa-lg"></i>
                            <img height=13.3px src="{{ BASE_PATH }}/assets/img/email-green.png"/>
                        </a></li>
                        <li><a href="https://linkedin.com/in/pkimes">
                            <i class="fa fa-linkedin fa-fw fa-lg"></i>
                            LinkedIn //business
                        </a></li>
                        <li><a href="https://scholar.google.com/citations?user=UBYy1J0AAAAJ&hl=en">
                            <i class="fa fa-google fa-fw fa-lg"></i>
                            Scholar &nbsp;//writing
                        </a></li>
                        <li><a href="https://github.com/pkimes/">
                            <i class="fa fa-github fa-fw fa-lg"></i>
                            GitHub &nbsp;&nbsp;//coding
                        </a></li>
                        <li><a href="https://www.strava.com/athletes/15641957">
                            <i class="fa fa-heartbeat fa-fw fa-lg"></i>
                            Strava &nbsp;&nbsp;//running
                        </a></li>
                        <li><a href="https://www.twitter.com/pkkimes">
                            <i class="fa fa-twitter fa-fw fa-lg"></i>
                            Twitter &nbsp;//tomfoolery
                        </a></li>
                    </ul>
                </div>
                <!--  MAIN PAGE  --> 
                <div class="col-md-7">
                    <!-- include name -->
                    <h2>Patrick Kosuke Kimes | 橋本 浩亮 </h2>
                    <hr/>
                    <!-- include brief bio -->
                    <div class="entry-content">
                        {{ content }}
                    </div>
                    <hr/>
                </div>
            </div>

            <!-- footer --> 
            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <hr>
                    {% include components/footer.html %}
                </div>
            </div>
        </div>
        {% include components/analytics.html %}
    </body>
</html>

